/*
 * GLOBAL STYLES
 */

@font-face {
  font-family: Montserrat-Bold;
  src: local('Montserrat-Bold'), url(./fonts/Montserrat-Bold-webfont.woff) format('woff');
}

@font-face {
  font-family: Montserrat-Light;
  src: local('Montserrat-Light'), url(./fonts/Montserrat-Light-webfont.woff) format('woff');
}

body {
  margin: 6.25vw;
  padding: 0;
  font-size: 1rem;
  line-height: 1.618rem;
}

body, p {
  font-family: Montserrat-Light;
  color: rgba(34, 34, 34, 1);
}

p {
  font-size: 1.125rem;
  line-height: 1.82rem;
}

button {
  border: none;
  background: transparent;
}

h2, strong, legend {
  font-family: Montserrat-Bold;
}

legend {
  text-align: left;
}