.callout {
  font-size: 2.5rem;
  line-height: 3rem;
  transition: all .5s;
  min-height: 120px;
  margin-bottom: 30px;
}

.callout-selected {
  font-size: 1.5rem;
  line-height: 1.75rem;
  transition: all .5s;
}

.eyewear-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}


@media screen and (min-width: 760px) {
  .callout {
    font-size: 4.5rem;
    line-height: 5.375rem;
  }
}